
<div class="bitly">

	   <div class="bitly">
      <a href="#" id="bitly_logo"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Bit.ly_Logo.svg/1280px-Bit.ly_Logo.svg.png"/></a>
    </div>
    
    <!-- FORM SEARCH -->  
  <!-- <div class="form">   -->
    <form action="/urls" method="post" class="url_form">
      <label for="form-search"></label>
      <input type="text" id="form-search" name = "long_url" placeholder="Input a fucking URL">
      <div id="table"> 
     </div>
      <!-- <p class="panel" style="display: block;"> -->
      <p class="short_link_data"><a href="lol" + u.short_url %></a>

  <!-- <button onclick="copyToClipboard('.short_url')" style="vertical-align:top;">Copy The Fucking Link</button> -->
  <!-- </div>   -->

      <div class= "buttons>  
        <input type="submit" value="Fucking Shorten It!">
      </div>
    
    </form>

</div>





	<nav class="navbar fixed-bottom navbar-light bg-faded">
      <footer>
 
        <ul class="footer-left">
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Press Kit</a></li>
          <li><a href="#">FAQ</a></li> 
        </ul>

        <ul class="footer-right">    
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Terms</a></li>
          <li><a href="#">Settings</a></li>
        </ul>       
    </footer>      

</nav>

<!--  <a href="/" id="bitly_logo" > <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Bit.ly_Logo.svg/1280px-Bit.ly_Logo.svg.png" alt="bit.ly image" </a>

 </div>

     
 <div class="form">  
<form action= '/urls' method='post'>
	    Enter URL:
		<input type="text" name="long_url" placeholder= "Input a fucking URL">
	<input type="submit" id="form-search" value="Change the world">
</form>
 -->



