
<section id="the-team" class="three">
						<div class="container">
							<header>
								<h2>The Team Behind This</h2>
							</header>

							<br></br>

							<a class="image featured"><img src= "https://jesonleejunzhencom.files.wordpress.com/2017/02/091c6e51-d930-4a6c-96c0-8dc0dc0dd6571.jpeg?w=740" style='width:100%;' border="0" alt="" /></a>

							<p align="left"> <br> Hi my name is Jeson. </p>


							<p align="left"> I'm the only team member of this company because i have no money to hire and no one wants to join me. But that's ok because i'm more than enough to bring bitly down </p>
 
						</div>
					</section>

					<br></br>
					<br></br>