<html>
	<head>
      <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
     <!--  <script type="text/javascript" src="js/copytoClipboard.js"></script>
       <script type="text/jQuery" src="js/jquery.js"></script>
 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- <script src="js/application.js"></script> -->
   <script src="js/copytoClipboard.js"></script>


		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 

		<link rel="stylesheet" href="css/abc.css">
 
		<title>Bit.ly</title>
		<meta charset="utf-8" />

		<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Jeson.lee (Bit.ly New Competitor)</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/about-us">About</a></li>
      <li><a href="/the-team">The team</a></li>
      <li><a href="/your-link">All links</a></li>
    </ul>
  </div>
</nav>

	
	</head>


		<br></br>

		<%= yield %>


</html>


 